USE [ODW]
GO
/****** Object:  View [dbo].[U_ACCOUNT_CONTACT]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[U_ACCOUNT_CONTACT]
AS 
select 
		account.BillingCity AS Billing_City,
		account.BillingCountry AS Billing_Country,
		account.BillingPostalCode AS Billing_Zip_Postal_Code,
		account.BillingStreet AS Billing_Street,
		account.Id AS Account_ID,
		account.Name AS Account_Name,
		account.rC_Bios__Acquired_Date__c AS Acquired_Date,
		account.rC_Bios__Acquired_Source__c AS Acquired_Source,
		account.rC_Bios__Active__c AS Active_Account,
		account.rC_Bios__Category__c AS Category,
		account.rC_Bios__Preferred_Billing_Address__c AS Preferred_Billing_Address,
		account.rC_Bios__Preferred_Contact_Email__c AS Preferred_Contact_Email,
		account.rC_Bios__Preferred_Contact_Phone__c AS Preferred_Contact_Phone,
		account.rC_Bios__Preferred_Shipping_Address__c AS Preferred_Shipping_Address,
		account.rC_Bios__Warning_Comments__c AS Warning_Comments,
		account.rC_Giving__Current_Year_Hard_Credit_Amount__c AS Current_Year_Hard_Credit_Amount,
		account.rC_Giving__Current_Year_Hard_Credit_Count__c AS Current_Year_Hard_Credit_Count,
		account.rC_Giving__Current_Year_Is_Major_Giver__c AS Current_Year_Major_Giver,
		account.rC_Giving__Current_Year_Is_Sustaining_Giver__c AS Current_Year_Sustaining_Giver,
		account.rC_Giving__First_Hard_Credit_Amount__c AS First_Hard_Credit_Amount,
		account.rC_Giving__First_Hard_Credit_Date__c AS First_Hard_Credit_Date,
		account.rC_Giving__Is_Sustaining_Giver__c AS Sustaining_Giver,
		account.rC_Giving__Largest_Hard_Credit_Amount__c AS Largest_Hard_Credit_Amount,
		account.rC_Giving__Largest_Hard_Credit_Date__c AS Largest_Hard_Credit_Date,
		account.rC_Giving__Last_Hard_Credit_Amount__c AS Last_Hard_Credit_Amount,
		account.rC_Giving__Last_Hard_Credit_Date__c AS Last_Hard_Credit_Date,
		account.rC_Giving__Lifetime_Hard_Credit_Amount__c AS Lifetime_Hard_Credit_Amount,
		account.rC_Giving__Lifetime_Hard_Credit_Count__c AS Lifetime_Hard_Credit_Count,
		account.rC_Giving__Lifetime_Is_Major_Giver__c AS Lifetime_Major_Giver,
		account.rC_Giving__Lifetime_Is_Sustaining_Giver__c AS Lifetime_Sustaining_Giver,
		account.rC_Giving__Primary_Affiliation__c AS Primary_Affiliation,
		account.rC_Giving__Primary_Giving_Level__c AS Primary_Giving_Level,
		account.rC_Giving__Primary_Membership_Expiration_Date__c AS Primary_Membership_Expiration_Date,
		account.rC_Giving__Primary_Membership_Status__c AS Primary_Membership_Status,
		account.rC_Giving__Prior_Year_Hard_Credit_Amount__c AS Prior_Year_Hard_Credit_Amount,
		account.rC_Giving__Prior_Year_Hard_Credit_Count__c AS Prior_Year_Hard_Credit_Count,
		account.rC_Giving__Prior_Year_Is_Major_Giver__c AS Prior_Year_Major_Giver,
		account.rC_Giving__Prior_Year_Is_Sustaining_Giver__c AS Prior_Year_Sustaining_Giver,
		account.ShippingCity AS Shipping_City,
		account.ShippingCountry AS Shipping_Country,
		account.ShippingPostalCode AS Shipping_Zip_Postal_Code,
		account.ShippingState AS Shipping_State_Province,
		account.ShippingStreet AS Shipping_Street,
		account.Type AS Account_Type,
		contact_primary.Birthdate AS Birthdate_Primary,
		contact_primary.Department AS Department_Primary,
		contact_primary.Fax AS Business_Fax_Primary,
		contact_primary.FirstName AS First_Name_Primary,
		contact_primary.HomePhone AS Home_Phone_Primary,
		contact_primary.Id AS Contact_ID_Primary,
		contact_primary.LastName AS Last_Name_Primary,
		contact_primary.MobilePhone AS Mobile_Phone_Primary,
		contact_primary.Name AS Full_Name_Primary,
		contact_primary.Phone AS Business_Phone_Primary,
		contact_primary.rC_Bios__Active__c AS Active_Primary,
		contact_primary.rC_Bios__Age_Range__c AS Age_Range_Primary,
		contact_primary.rC_Bios__Deceased_Date__c AS Deceased_Date_Primary,
		contact_primary.rC_Bios__Deceased__c AS Deceased_Primary,
		contact_primary.rC_Bios__Ethnicity__c AS Ethnicity_Primary,
		contact_primary.rC_Bios__Facebook_Url__c AS Facebook_URL_Primary,
		contact_primary.rC_Bios__Gender__c AS Gender_Primary,
		contact_primary.rC_Bios__Google_Plus_Url__c AS Googleplus_URL_Primary,
		contact_primary.rC_Bios__Home_Do_Not_Call__c AS Home_Do_Not_Call_Primary,
		contact_primary.rC_Bios__Home_Email_Opt_Out__c AS Home_Email_Opt_Out_Primary,
		contact_primary.rC_Bios__Home_Email__c AS Home_Email_Primary,
		contact_primary.rC_Bios__LinkedIn_Url__c AS LinkedIn_URL_Primary,
		contact_primary.rC_Bios__Maiden_Name__c AS Maiden_Name_Primary,
		contact_primary.rC_Bios__Marital_Status__c AS Marital_Status_Primary,
		contact_primary.rC_Bios__Middle_Name__c AS Middle_Name_Primary,
		contact_primary.rC_Bios__Minor_Child__c AS Minor_Child_Primary,
		contact_primary.rC_Bios__Mobile_Do_Not_Call__c AS Mobile_Do_Not_Call_Primary,
		contact_primary.rC_Bios__Preferred_Email__c AS Preferred_Email_Primary,
		contact_primary.rC_Bios__Preferred_Phone__c AS Preferred_Phone_Primary,
		contact_primary.rC_Bios__Role__c AS Role_Primary,
		contact_primary.rC_Bios__Salutation__c AS rC_Bios_Salutation,
		contact_primary.Rc_bios__suffix__c AS Suffix_Primary,
		contact_primary.rC_Bios__Twitter_Url__c AS Twitter_URL_Primary,
		contact_primary.rC_Bios__Website_Url__c AS Website_URL_Primary,
		contact_primary.rC_Bios__Work_Do_Not_Call__c AS Work_Do_Not_Call_Primary,
		contact_primary.rC_Bios__Work_Email_Opt_Out__c AS Work_Email_Opt_Out_Primary,
		contact_primary.rC_Bios__Work_Email__c AS Work_Email_Primary,
		contact_primary.rC_Bios__Work_Phone__c AS Work_Phone_Primary,
		contact_primary.Salutation AS Salutation,
		contact_primary.Title AS Job_Title_Primary,
		contact_secondary.Birthdate AS Birthdate_Secondary,
		contact_secondary.Department AS Department_Secondary,
		contact_secondary.FaX AS Business_Fax_Secondary,
		contact_secondary.FirstName AS First_Name_Secondary,
		contact_secondary.HomePhone AS Home_Phone_Secondary,
		contact_secondary.Id AS Contact_ID_Secondary,
		contact_secondary.LastName AS Last_Name_Secondary,
		contact_secondary.MobilePhone AS Mobile_Phone_Secondary,
		contact_secondary.Name AS Full_Name_Secondary,
		contact_secondary.Phone AS Business_Phone_Secondary,
		contact_secondary.rC_Bios__Active__c AS Active_Secondary,
		contact_secondary.rC_Bios__Age_Range__c AS Age_Range_Secondary,
		contact_secondary.rC_Bios__Deceased_Date__c AS Deceased_Date_Secondary,
		contact_secondary.rC_Bios__Deceased__c AS Deceased_Secondary,
		contact_secondary.rC_Bios__Ethnicity__c AS Ethnicity_Secondary,
		contact_secondary.rC_Bios__Facebook_Url__c AS Facebook_URL_Secondary,
		contact_secondary.rC_Bios__Gender__c AS Gender_Secondary,
		contact_secondary.rC_Bios__Google_Plus_Url__c AS Googleplus_URL_Secondary,
		contact_secondary.rC_Bios__Home_Do_Not_Call__c AS Home_Do_Not_Call_Secondary,
		contact_secondary.rC_Bios__Home_Email_Opt_Out__c AS Home_Email_Opt_Out_Secondary,
		contact_secondary.rC_Bios__Home_Email__c AS Home_Email_Secondary,
		contact_secondary.rC_Bios__LinkedIn_Url__c AS LinkedIn_URL_Secondary,
		contact_secondary.rC_Bios__Maiden_Name__c AS Maiden_Name_Secondary,
		contact_secondary.rC_Bios__Marital_Status__c AS Marital_Status_Secondary,
		contact_secondary.rC_Bios__Middle_Name__c AS Middle_Name_Secondary,
		contact_secondary.rC_Bios__Minor_Child__c AS Minor_Child_Secondary,
		contact_secondary.rC_Bios__Mobile_Do_Not_Call__c AS Mobile_Do_Not_Call_Secondary,
		contact_secondary.rC_Bios__Preferred_Email__c AS Preferred_Email_Secondary,
		contact_secondary.rC_Bios__Preferred_Phone__c AS Preferred_Phone_Secondary,
		contact_secondary.rC_Bios__Role__c AS Role_Secondary,
		contact_secondary.rC_Bios__Salutation__c AS Salutation_Secondary_Contact,
		contact_secondary.Rc_bios__suffix__c AS Suffix_Secondary,
		contact_secondary.rC_Bios__Twitter_Url__c AS Twitter_URL_Secondary,
		contact_secondary.rC_Bios__Website_Url__c AS Website_URL_Secondary,
		contact_secondary.rC_Bios__Work_Do_Not_Call__c AS Work_Do_Not_Call_Secondary,
		contact_secondary.rC_Bios__Work_Email_Opt_Out__c AS Work_Email_Opt_Out_Secondary,
		contact_secondary.rC_Bios__Work_Email__c AS Work_Email_Secondary,
		contact_secondary.rC_Bios__Work_Phone__c AS Work_Phone_Secondary,
		contact_secondary.Salutation AS Title_Secondary_Contact,
		contact_secondary.Title AS Job_Title_Secondar 
     from account 
left join contact contact_primary on contact_primary.Id = dbo.CONTACT_PRIMARY_GUID(account.Id)
left join contact contact_secondary on contact_secondary.Id = dbo.CONTACT_SECONDARY_GUID(account.Id)
left join s_preferred_address_billing on s_preferred_address_billing.rC_Bios__Account__c = account.Id;

GO
