USE [ODW]
GO
/****** Object:  Table [dbo].[FactDonor_Full]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactDonor_Full](
	[OpportunityID] [varchar](18) NULL,
	[OppAccountID] [varchar](18) NULL,
	[OppCampaignID] [varchar](18) NULL,
	[AllocationID] [int] NULL,
	[AccountID] [int] NULL,
	[Hard] [decimal](18, 2) NULL,
	[Soft] [decimal](38, 2) NULL,
	[FY_Hard] [varchar](255) NULL,
	[FY_Soft] [varchar](256) NULL,
	[# MSY Awarded] [decimal](18, 0) NULL,
	[# MSY Requested] [decimal](18, 0) NULL,
	[# of No Cost Slots] [decimal](18, 0) NULL,
	[30 Day Exit Compliance (# Late)] [decimal](18, 0) NULL,
	[30-Day Enrollment Compliance (# Late)] [decimal](18, 0) NULL,
	[Account Billing Address] [varchar](1300) NULL,
	[Account ID] [varchar](18) NULL,
	[Account Name] [varchar](1300) NULL,
	[Account Number] [varchar](40) NULL,
	[Acknowledged Date] [datetime] NULL,
	[Acknowledged?] [int] NULL,
	[Activity Type] [varchar](255) NULL,
	[Affiliation] [varchar](255) NULL,
	[Allocation Amount] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Anniversary Date] [datetime] NULL,
	[Anniversary Renewal Date] [datetime] NULL,
	[Annual Giving Amount] [decimal](18, 2) NULL,
	[Anonymous?] [int] NULL,
	[Application Deadline] [datetime] NULL,
	[Application ID] [varchar](15) NULL,
	[Application Type] [varchar](255) NULL,
	[Archive?] [int] NULL,
	[Ask Readiness] [varchar](255) NULL,
	[Attendance Start Date] [datetime] NULL,
	[Auto-Submit Payment?] [int] NULL,
	[Available Billing Date] [datetime] NULL,
	[Awarded Grant End Date] [datetime] NULL,
	[Awarded Grant Start Date] [datetime] NULL,
	[Behavior Start Date] [datetime] NULL,
	[Best Case Amount] [decimal](18, 2) NULL,
	[Best Case Bar] [varchar](1300) NULL,
	[Best Case Ratio] [decimal](18, 2) NULL,
	[Bookable?] [int] NULL,
	[Calculated Giving Type] [varchar](255) NULL,
	[Campaign Channel] [varchar](255) NULL,
	[Campaign ID] [varchar](18) NULL,
	[Campaign: Primary Campaign] [varchar](1300) NULL,
	[Campaign: Response Mechanism] [varchar](1300) NULL,
	[Campaign: Revenue Category WD Code] [varchar](1300) NULL,
	[Campaign: Revenue Category] [varchar](1300) NULL,
	[Campaign: Source Code] [varchar](1300) NULL,
	[Campaign: Support Designation] [varchar](1300) NULL,
	[Case-Safe Id (18-char)] [varchar](1300) NULL,
	[CFDA#] [varchar](10) NULL,
	[Charge Attempts] [decimal](18, 0) NULL,
	[Charitable Deduction] [decimal](18, 2) NULL,
	[Check #] [varchar](255) NULL,
	[Check Date] [datetime] NULL,
	[Close Date/Time] [datetime] NULL,
	[Close Date] [datetime] NULL,
	[Closed Amount] [decimal](18, 2) NULL,
	[Closed Bar] [varchar](1300) NULL,
	[Closed Lost Comments] [varchar](255) NULL,
	[Closed Lost Reason] [varchar](255) NULL,
	[Closed Ratio] [decimal](18, 2) NULL,
	[Closed] [int] NULL,
	[Comments] [varchar](1300) NULL,
	[Commit Amount] [decimal](18, 2) NULL,
	[Commit Bar] [varchar](1300) NULL,
	[Commit Ratio] [decimal](18, 2) NULL,
	[Concept Paper Deadline] [datetime] NULL,
	[Contract #] [varchar](10) NULL,
	[Contract Status] [varchar](255) NULL,
	[Cost Per MSY Awarded] [decimal](18, 2) NULL,
	[Cost Per MSY Requested] [decimal](18, 2) NULL,
	[Count Oppty Line Items] [decimal](18, 0) NULL,
	[Count School Partnership Items] [decimal](18, 0) NULL,
	[Created By ID] [varchar](18) NULL,
	[Created Date] [datetime] NULL,
	[Current Giving Amount] [decimal](18, 2) NULL,
	[Current Giving Bar] [varchar](1300) NULL,
	[Current Giving Divergence] [decimal](18, 2) NULL,
	[Current Giving Ratio] [decimal](18, 2) NULL,
	[CY Allocation Location String] [varchar](1300) NULL,
	[CY Fiscal Year] [varchar](4) NULL,
	[DB Competitor] [varchar](255) NULL,
	[Deleted] [int] NULL,
	[Description] [varchar](255) NULL,
	[Diplomas Now School Partnership?] [int] NULL,
	[Discount Rate Month] [varchar](255) NULL,
	[Discount Rate Year] [varchar](255) NULL,
	[Discount Rate] [decimal](18, 2) NULL,
	[Do Not Acknolwedge] [int] NULL,
	[Effective Giving Type Date] [datetime] NULL,
	[ELA Start Date] [datetime] NULL,
	[Enrollment Start Date] [datetime] NULL,
	[Entered Giving Amount] [decimal](18, 2) NULL,
	[Entered Giving Currency Rate] [decimal](18, 8) NULL,
	[Entered Giving Currency] [varchar](255) NULL,
	[Exit w/ Award] [decimal](18, 0) NULL,
	[Exit w/ No Award] [decimal](18, 2) NULL,
	[Expected Amount] [decimal](18, 2) NULL,
	[Expected Giving Amount] [decimal](18, 2) NULL,
	[Expected Giving Bar] [varchar](1300) NULL,
	[Expected Giving Ratio] [decimal](18, 2) NULL,
	[Extend Day Start Date] [datetime] NULL,
	[Fees & Commissions] [decimal](18, 2) NULL,
	[Fill Rate] [decimal](18, 0) NULL,
	[First Closed Payment Date] [datetime] NULL,
	[First Payment Date] [datetime] NULL,
	[Fiscal Period] [varchar](6) NULL,
	[Fiscal Quarter] [int] NULL,
	[Fiscal Year] [int] NULL,
	[Fiscal Year2] [varchar](1300) NULL,
	[Force Canceled?] [int] NULL,
	[Force Completed?] [int] NULL,
	[Force Suspended?] [int] NULL,
	[Force Uncollectible?] [int] NULL,
	[Forecast Category] [varchar](40) NULL,
	[Forecast CategoryName] [varchar](40) NULL,
	[Full Time] [decimal](4, 0) NULL,
	[Full-Time/Half-Time] [varchar](255) NULL,
	[Gift Source] [varchar](255) NULL,
	[Giving #] [varchar](255) NULL,
	[Giving Amount] [decimal](18, 2) NULL,
	[Giving Donation?] [int] NULL,
	[Giving End Date] [datetime] NULL,
	[Giving Frequency] [varchar](255) NULL,
	[Giving Inkind?] [int] NULL,
	[Giving Level ID] [varchar](1300) NULL,
	[Giving Level Status] [varchar](1300) NULL,
	[Giving Membership?] [int] NULL,
	[Giving Purchase?] [int] NULL,
	[Giving Transaction?] [int] NULL,
	[Giving Type Engine] [varchar](255) NULL,
	[Giving Type] [varchar](255) NULL,
	[Giving Years] [decimal](2, 0) NULL,
	[Giving?] [int] NULL,
	[GL Batch Number] [varchar](80) NULL,
	[Grant Purpose] [varchar](1300) NULL,
	[Grant Requirements] [varchar](255) NULL,
	[Grant Type] [varchar](255) NULL,
	[Grant Year] [varchar](255) NULL,
	[Grantor ID] [varchar](15) NULL,
	[Half Time] [decimal](4, 0) NULL,
	[Has Line Item] [int] NULL,
	[i3 School Partnership?] [int] NULL,
	[Initial Application Submission Format] [varchar](255) NULL,
	[Initial Application Submission Format2] [varchar](255) NULL,
	[Internal Grant ID] [varchar](15) NULL,
	[Is Manual Transaction?] [int] NULL,
	[Key Considerations] [varchar](1300) NULL,
	[Last Activity] [datetime] NULL,
	[Last Giving Amount Adjustment Date] [datetime] NULL,
	[Last Giving Amount Adjustment] [decimal](18, 2) NULL,
	[Last Modified By ID] [varchar](18) NULL,
	[Last Modified Date] [datetime] NULL,
	[Lead Source] [varchar](40) NULL,
	[Letter of Intent Deadline] [datetime] NULL,
	[Link # 2] [varchar](255) NULL,
	[Link # 3] [varchar](255) NULL,
	[Link # 4] [varchar](255) NULL,
	[Link # 5] [varchar](255) NULL,
	[Link # 6] [varchar](255) NULL,
	[Link to Opportunity] [varchar](1300) NULL,
	[Matching Account] [varchar](18) NULL,
	[Matching Amount] [decimal](18, 2) NULL,
	[Matching Notice] [varchar](255) NULL,
	[Matching Opportunity] [varchar](18) NULL,
	[Matching Status] [varchar](255) NULL,
	[Matching?] [int] NULL,
	[Material Support] [varchar](1300) NULL,
	[Math Start Date] [datetime] NULL,
	[Media Amount 1] [decimal](18, 2) NULL,
	[Media Amount 2] [decimal](18, 2) NULL,
	[Media Amount 3] [decimal](18, 2) NULL,
	[Media Amount 4] [decimal](18, 2) NULL,
	[Media Amount 5] [decimal](18, 2) NULL,
	[Media Type 1] [varchar](255) NULL,
	[Media Type 2] [varchar](255) NULL,
	[Media Type 3] [varchar](255) NULL,
	[Media Type 4] [varchar](255) NULL,
	[Media Type 5] [varchar](255) NULL,
	[Minimum Living Allowance] [decimal](18, 2) NULL,
	[Monitoring Success] [varchar](1300) NULL,
	[Multi Indic Start Date] [datetime] NULL,
	[Name] [varchar](120) NULL,
	[Needs Receipt?] [int] NULL,
	[Next Step] [varchar](255) NULL,
	[Notice Of Grant Awarded] [datetime] NULL,
	[Number of Opportunities] [decimal](18, 0) NULL,
	[Number Of Shares] [decimal](18, 0) NULL,
	[Omitted Amount] [decimal](18, 2) NULL,
	[Omitted Bar] [varchar](1300) NULL,
	[Omitted Ratio] [decimal](18, 2) NULL,
	[Opportunity ID] [varchar](18) NULL,
	[Opportunity Number] [varchar](30) NULL,
	[Opportunity Type] [varchar](40) NULL,
	[Original Summary] [varchar](18) NULL,
	[Owner ID] [varchar](18) NULL,
	[Paid-in-Full at Entry] [int] NULL,
	[Parent Campaign: Revenue Strategy] [varchar](1300) NULL,
	[Parent Campaign: Source] [varchar](1300) NULL,
	[Parent Opportunity: Allocation Location] [varchar](1300) NULL,
	[Parent Opportunity: Close Date] [datetime] NULL,
	[Parent Opportunity: Do Not Acknowledge] [int] NULL,
	[Parent Opportunity: Giving Amount] [decimal](18, 2) NULL,
	[Parent Opportunity: Giving Source] [varchar](1300) NULL,
	[Parent Opportunity: Id] [varchar](1300) NULL,
	[Parent Opportunity: Name] [varchar](1300) NULL,
	[Parent Opportunity: Opportunity Number] [varchar](1300) NULL,
	[Parent Opportunity: Opportunity RecType] [varchar](1300) NULL,
	[Parent Opportunity: Tribute Text] [varchar](1300) NULL,
	[Parent Opportunity] [varchar](18) NULL,
	[Partnership End Date] [datetime] NULL,
	[Partnership Period] [varchar](1300) NULL,
	[Partnership Start Date] [datetime] NULL,
	[Partnership Year] [varchar](255) NULL,
	[Payer Name] [varchar](255) NULL,
	[Payment Count] [decimal](18, 0) NULL,
	[Payment Day] [varchar](255) NULL,
	[Payment End Date] [datetime] NULL,
	[Payment Frequency] [varchar](255) NULL,
	[Payment Method] [varchar](255) NULL,
	[Payment Reference #] [varchar](255) NULL,
	[Payment Refunded?] [int] NULL,
	[Payment Transaction ID] [varchar](255) NULL,
	[Performance Measures] [varchar](1300) NULL,
	[Pipeline Amount] [decimal](18, 2) NULL,
	[Pipeline Bar] [varchar](1300) NULL,
	[Pipeline Ratio] [decimal](18, 2) NULL,
	[Planned Giving] [varchar](18) NULL,
	[Pledge Reminder Due Date] [datetime] NULL,
	[Pre-Award Cost Approval] [decimal](18, 2) NULL,
	[Preparation and Training] [varchar](1300) NULL,
	[Price Book ID] [varchar](18) NULL,
	[Primary Contact] [varchar](18) NULL,
	[Private] [int] NULL,
	[Probability (%)] [decimal](3, 0) NULL,
	[Program Name] [varchar](255) NULL,
	[Projected Amount] [decimal](18, 2) NULL,
	[Projected Amount2] [decimal](18, 2) NULL,
	[Projected Bar] [varchar](1300) NULL,
	[Projected Ratio] [decimal](18, 2) NULL,
	[Proposed End Date] [datetime] NULL,
	[Proposed Start Date] [datetime] NULL,
	[Prospect Rating] [varchar](255) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[RE Date and Ext ID] [varchar](1300) NULL,
	[Realized Amount] [decimal](18, 2) NULL,
	[Realized Date] [datetime] NULL,
	[Received Connection ID] [varchar](18) NULL,
	[Record Type ID] [varchar](18) NULL,
	[Refund Method (@Deprecated)] [varchar](255) NULL,
	[Refund Reason] [varchar](255) NULL,
	[Refund Transaction ID] [varchar](255) NULL,
	[Refundable?] [int] NULL,
	[Refunded Amount] [decimal](18, 2) NULL,
	[Refunded Bar] [varchar](1300) NULL,
	[Refunded Ratio] [decimal](18, 2) NULL,
	[Renew By Email] [int] NULL,
	[Renew By Postal Mail] [int] NULL,
	[Reporting Schedule] [varchar](255) NULL,
	[Requested Amount] [decimal](18, 2) NULL,
	[Response Code] [varchar](255) NULL,
	[Response Date/Time] [datetime] NULL,
	[Response Mechanism] [varchar](255) NULL,
	[Response Message] [varchar](255) NULL,
	[Restricted?] [int] NULL,
	[Retention Rate] [decimal](18, 0) NULL,
	[Rollup Allocations] [datetime] NULL,
	[Rollup Giving] [datetime] NULL,
	[Rollup Heartland Transactions] [datetime] NULL,
	[Rollup Sage Vault Bankcards] [datetime] NULL,
	[Rollup Sage Vault Virtual Checks] [datetime] NULL,
	[Rollup Transactions] [datetime] NULL,
	[Selected Payment Method] [varchar](18) NULL,
	[Selected?] [int] NULL,
	[Send to GL] [varchar](255) NULL,
	[Sent Connection ID] [varchar](18) NULL,
	[Service Contact] [varchar](18) NULL,
	[Service Team] [varchar](18) NULL,
	[Service Type] [varchar](255) NULL,
	[Shopper?] [int] NULL,
	[Solicitation Status] [varchar](255) NULL,
	[Solicitation Type] [varchar](255) NULL,
	[SoP Signed and Uploaded?] [int] NULL,
	[Sorting #] [varchar](1300) NULL,
	[Source Code] [varchar](255) NULL,
	[Special Gift Indicator] [varchar](4099) NULL,
	[Stage] [varchar](40) NULL,
	[State Commission Contact] [varchar](18) NULL,
	[State Commission] [varchar](18) NULL,
	[Summary Link] [varchar](1300) NULL,
	[Summary] [varchar](18) NULL,
	[Support Designation] [varchar](255) NULL,
	[Suspended End Date] [datetime] NULL,
	[Suspended Start Date] [datetime] NULL,
	[Sustainer?] [int] NULL,
	[System Modstamp] [datetime] NULL,
	[Tax Deductible Amount] [decimal](18, 2) NULL,
	[Team Weekly Schedule] [varchar](1300) NULL,
	[Ticker Symbol] [varchar](255) NULL,
	[Tier] [varchar](255) NULL,
	[Transaction Type] [varchar](255) NULL,
	[Tribute Comments] [varchar](1300) NULL,
	[Tribute Contact] [varchar](18) NULL,
	[Tribute Delivered Date] [datetime] NULL,
	[Tribute Delivery] [varchar](255) NULL,
	[Tribute Description] [varchar](1300) NULL,
	[Tribute Effective Date] [datetime] NULL,
	[Tribute Name] [varchar](255) NULL,
	[Tribute Type] [varchar](255) NULL,
	[Tribute?] [int] NULL,
	[Update Transactions] [datetime] NULL,
	[Valuation Date] [datetime] NULL,
	[Valuation Type] [varchar](255) NULL,
	[Won] [int] NULL,
	[Workday Integration Datetime Stamp] [datetime] NULL,
	[Workday Integration Flag] [int] NULL,
	[Giving (All)] [varchar](50) NULL,
	[Received Gift] [varchar](50) NULL,
	[Open Pledge] [varchar](50) NULL,
	[Payment] [varchar](50) NULL,
	[Future Payment] [varchar](50) NULL,
	[Future FY Gifts] [varchar](50) NULL,
	[Gifts w/Soft Credits] [varchar](50) NULL,
	[Completed Proposals (Closed)] [varchar](50) NULL,
	[Proposals (Not Closed)] [varchar](50) NULL,
	[Completed Grants (Closed)] [varchar](50) NULL,
	[Grants (Not Closed)] [varchar](50) NULL,
	[Board] [varchar](50) NULL,
	[Non-Donor] [varchar](50) NULL,
	[Exclude List (Mailing)] [varchar](50) NULL,
	[Exclude List (E-Mailing)] [varchar](50) NULL,
	[Exclude List (Phone)] [varchar](50) NULL,
	[Exclude List (Mail Yearly)] [varchar](50) NULL
) ON [PRIMARY]

GO
