USE [ODW]
GO
/****** Object:  Table [dbo].[DimCampaign]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCampaign](
	[CampaignID] [int] IDENTITY(1,1) NOT NULL,
	[Actual Cost] [decimal](18, 0) NULL,
	[Total Value Opportunities] [decimal](18, 0) NOT NULL,
	[Total Value Won Opportunities] [decimal](18, 0) NOT NULL,
	[Budgeted Cost] [decimal](18, 0) NULL,
	[Record Type ID] [varchar](18) NULL,
	[Created By ID] [varchar](18) NOT NULL,
	[Created Date] [datetime] NOT NULL,
	[DB Campaign Tactic] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
	[End Date] [datetime] NULL,
	[Expected Response (%)] [decimal](10, 2) NULL,
	[Expected Revenue] [decimal](18, 0) NULL,
	[Fiscal Year] [varchar](255) NULL,
	[Functional Area] [varchar](255) NULL,
	[Functional Area Code] [varchar](255) NULL,
	[Total Actual Cost in Hierarchy] [decimal](18, 0) NULL,
	[Total Value Opportunities in Hierarchy] [decimal](18, 0) NULL,
	[Total Value Won Opportunities in Hierarchy] [decimal](18, 0) NULL,
	[Total Budgeted Cost in Hierarchy] [decimal](18, 0) NULL,
	[Total Expected Revenue in Hierarchy] [decimal](18, 0) NULL,
	[Total Contacts in Hierarchy] [int] NULL,
	[Total Converted Leads in Hierarchy] [int] NULL,
	[Total Leads in Hierarchy] [int] NULL,
	[Total Opportunities in Hierarchy] [int] NULL,
	[Total Responses in Hierarchy] [int] NULL,
	[Total Won Opportunities in Hierarchy] [int] NULL,
	[Total Num Sent in Hierarchy] [decimal](18, 0) NULL,
	[Campaign ID] [varchar](18) NOT NULL,
	[Active] [int] NOT NULL,
	[Deleted] [int] NOT NULL,
	[Last Activity] [datetime] NULL,
	[Last Modified By ID] [varchar](18) NOT NULL,
	[Last Modified Date] [datetime] NOT NULL,
	[Location] [varchar](255) NULL,
	[Location Code] [varchar](255) NULL,
	[Name] [varchar](80) NOT NULL,
	[Total Contacts] [int] NOT NULL,
	[Converted Leads] [int] NOT NULL,
	[Total Leads] [int] NOT NULL,
	[Num Total Opportunities] [int] NOT NULL,
	[Total Responses] [int] NOT NULL,
	[Num Won Opportunities] [int] NOT NULL,
	[Num Sent] [decimal](18, 0) NULL,
	[Owner ID] [varchar](18) NOT NULL,
	[Parent Campaign ID] [varchar](18) NULL,
	[Duration] [decimal](18, 0) NULL,
	[Form Mapping] [varchar](18) NULL,
	[Heartland Merchant] [varchar](18) NULL,
	[Payment Processor] [varchar](255) NULL,
	[Sage Merchant] [varchar](18) NULL,
	[Added To Waitlist Text] [varchar](255) NULL,
	[Attended] [decimal](18, 0) NULL,
	[Available Registered Count] [decimal](18, 0) NULL,
	[Available Waitlisted Count] [decimal](18, 0) NULL,
	[Event End Date/Time] [datetime] NULL,
	[Event Code] [varchar](255) NULL,
	[Event Sub-Type] [varchar](255) NULL,
	[Event Type] [varchar](255) NULL,
	[Hide Attendance?] [int] NOT NULL,
	[Hide Attributes?] [int] NOT NULL,
	[Hide Chatter?] [int] NOT NULL,
	[Hide Details?] [int] NOT NULL,
	[Hide Form?] [int] NOT NULL,
	[Hide Groups?] [int] NOT NULL,
	[Hide Meals?] [int] NOT NULL,
	[Hide Members?] [int] NOT NULL,
	[Hide Seating?] [int] NOT NULL,
	[Hide Sessions?] [int] NOT NULL,
	[Hide Tasks?] [int] NOT NULL,
	[Hide Tickets?] [int] NOT NULL,
	[Hide Venues?] [int] NOT NULL,
	[No Show] [decimal](18, 0) NULL,
	[Parent Campaign Name] [varchar](255) NULL,
	[Pricebook ID] [varchar](18) NULL,
	[Pricebook Link] [varchar](255) NULL,
	[Pricebook Name] [varchar](255) NULL,
	[Primary Venue] [varchar](255) NULL,
	[Registered Count] [decimal](18, 0) NULL,
	[Registered Full Date] [datetime] NULL,
	[Registered Full Text] [varchar](255) NULL,
	[Registered Limit] [decimal](18, 0) NULL,
	[Registered Status] [varchar](255) NULL,
	[Registration Closed Message] [varchar](255) NULL,
	[Registration Edit Deadline] [datetime] NULL,
	[Registration End Date/Time] [datetime] NULL,
	[Registration Landing Page] [varchar](255) NULL,
	[Registration Start Date/Time] [datetime] NULL,
	[Rollup Members] [datetime] NULL,
	[Rollup Venues] [datetime] NULL,
	[Session Status] [varchar](255) NULL,
	[Special Instructions] [varchar](255) NULL,
	[Event Start Date/Time] [datetime] NULL,
	[Time Zone] [varchar](255) NULL,
	[Venue Count] [decimal](18, 0) NULL,
	[Waitlisted Count] [decimal](18, 0) NULL,
	[Waitlisted Full Date] [datetime] NULL,
	[Waitlisted Full Text] [varchar](255) NULL,
	[Waitlisted Limit] [decimal](18, 0) NULL,
	[Waitlisted Status] [varchar](255) NULL,
	[Affiliation] [varchar](255) NULL,
	[Appeal Segment] [varchar](255) NULL,
	[Archive?] [int] NOT NULL,
	[Average Gift] [decimal](18, 2) NULL,
	[Average Gift - Hierarchy] [decimal](18, 2) NULL,
	[Best Case Amount] [decimal](18, 2) NULL,
	[Best Case Amount - Hierarchy] [decimal](18, 2) NULL,
	[Best Case Bar] [varchar](255) NULL,
	[Best Case Ratio] [decimal](18, 2) NULL,
	[Campaign Category] [varchar](255) NULL,
	[Campaign Type] [varchar](255) NULL,
	[Channel] [varchar](255) NULL,
	[Closed Amount] [decimal](18, 2) NULL,
	[Closed Amount - Hierarchy] [decimal](18, 2) NULL,
	[Closed Bar] [varchar](255) NULL,
	[Closed Ratio] [decimal](18, 2) NULL,
	[Commit Amount] [decimal](18, 2) NULL,
	[Commit Amount - Hierarchy] [decimal](18, 2) NULL,
	[Commit Bar] [varchar](255) NULL,
	[Commit Ratio] [decimal](18, 2) NULL,
	[Cost Per Piece] [decimal](18, 3) NULL,
	[Cost Per Piece - Hierarchy] [decimal](18, 3) NULL,
	[Cost Per Thousand] [decimal](18, 3) NULL,
	[Cost Per Thousand - Hierarchy] [decimal](18, 3) NULL,
	[Creative Package] [varchar](18) NULL,
	[Current Giving Amount] [decimal](18, 2) NULL,
	[Current Giving Amount - Hierarchy] [decimal](18, 2) NULL,
	[Effort] [varchar](255) NULL,
	[End Date/Time] [datetime] NULL,
	[Expected Giving Amount] [decimal](18, 2) NULL,
	[Expected Giving Amount - Hierarchy] [decimal](18, 2) NULL,
	[External ID] [varchar](255) NULL,
	[General Accounting Unit] [varchar](18) NULL,
	[Giving Type] [varchar](255) NULL,
	[Giving Type Engine] [varchar](255) NULL,
	[Parent Campaign] [int] NOT NULL,
	[Shopper?] [int] NOT NULL,
	[Omitted Amount] [decimal](18, 2) NULL,
	[Omitted Amount - Hierarchy] [decimal](18, 2) NULL,
	[Omitted Bar] [varchar](255) NULL,
	[Omitted Ratio] [decimal](18, 2) NULL,
	[Percent Goal] [decimal](18, 2) NULL,
	[Percent Goal - Hierarchy] [decimal](18, 2) NULL,
	[Pipeline Amount] [decimal](18, 2) NULL,
	[Pipeline Amount - Hierarchy] [decimal](18, 2) NULL,
	[Pipeline Bar] [varchar](255) NULL,
	[Pipeline Ratio] [decimal](18, 2) NULL,
	[Refunded Amount] [decimal](18, 2) NULL,
	[Refunded Amount - Hierarchy] [decimal](18, 2) NULL,
	[Refunded Bar] [varchar](255) NULL,
	[Refunded Ratio] [decimal](18, 2) NULL,
	[Remaining Goal] [decimal](18, 2) NULL,
	[Remaining Goal - Hierarchy] [decimal](18, 2) NULL,
	[Response Mechanism] [varchar](255) NULL,
	[Actual Response (%)] [decimal](18, 2) NULL,
	[Actual Response (%) - Hierarchy] [decimal](18, 2) NULL,
	[ROI (%)] [decimal](18, 2) NULL,
	[ROI (%) - Hierarchy] [decimal](18, 2) NULL,
	[Rollup Giving] [datetime] NULL,
	[Segment] [varchar](3) NULL,
	[Send To Email Campaign] [int] NOT NULL,
	[Solicitation Type] [varchar](255) NULL,
	[Source Code] [varchar](16) NULL,
	[Partial Source Code] [varchar](8) NULL,
	[Start Date/Time] [datetime] NULL,
	[Sub-Affiliation] [varchar](255) NULL,
	[Sub-Channel] [varchar](255) NULL,
	[Support Designation] [varchar](255) NULL,
	[Record Type ID2] [varchar](18) NULL,
	[Revenue Strategy] [varchar](255) NULL,
	[Short Name] [varchar](50) NULL,
	[Start Date] [datetime] NULL,
	[Status] [varchar](40) NULL,
	[Sync to Marketo?] [int] NOT NULL,
	[System Modstamp] [datetime] NOT NULL,
	[Type] [varchar](40) NULL,
	[Type Code] [varchar](255) NULL,
	[First Response Date] [datetime] NULL,
	[Generate Ask Amounts?] [decimal](18, 2) NULL,
	[Last Response Date] [datetime] NULL,
	[Unsolicited Gifts #] [decimal](18, 2) NULL,
	[Cost Per Gift] [decimal](18, 2) NULL,
	[Cost Per Won Opportunity] [decimal](18, 2) NULL,
	[Days Since Drop] [decimal](18, 2) NULL,
	[Drop Date] [datetime] NULL,
	[Net Revenue] [decimal](18, 2) NULL,
	[Net Revenue - Hierarchy] [decimal](18, 2) NULL,
	[Solicitation List] [varchar](255) NULL,
	[Source Code 13 Digits] [varchar](255) NULL,
	[Revenue Category] [varchar](255) NULL,
 CONSTRAINT [PK_DimCampaign] PRIMARY KEY NONCLUSTERED 
(
	[CampaignID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [INDEXES]

GO
