USE [ODW]
GO
/****** Object:  Table [dbo].[DimCampaignContactRecentHistory]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCampaignContactRecentHistory](
	[AccountID] [int] NULL,
	[BR_HC] [money] NULL,
	[BR_SC] [money] NULL,
	[BR_#OfOpp] [int] NULL,
	[BOS_HC] [money] NULL,
	[BOS_SC] [money] NULL,
	[BOS_#OfOpp] [int] NULL,
	[CF_HC] [money] NULL,
	[CF_SC] [money] NULL,
	[CF_#OfOpp] [int] NULL,
	[CHI_HC] [money] NULL,
	[CHI_SC] [money] NULL,
	[CHI_#OfOpp] [int] NULL,
	[CLE_HC] [money] NULL,
	[CLE_SC] [money] NULL,
	[CLE_#OfOpp] [int] NULL,
	[CIA_HC] [money] NULL,
	[CIA_SC] [money] NULL,
	[CIA_#OfOpp] [int] NULL,
	[CUS_HC] [money] NULL,
	[CUS_SC] [money] NULL,
	[CUS_#OfOpp] [int] NULL,
	[DEN_HC] [money] NULL,
	[DEN_SC] [money] NULL,
	[DEN_#OfOpp] [int] NULL,
	[DET_HC] [money] NULL,
	[DET_SC] [money] NULL,
	[DET_#OfOpp] [int] NULL,
	[HQ_HC] [money] NULL,
	[HQ_SC] [money] NULL,
	[HQ_#OfOpp] [int] NULL,
	[JAX_HC] [money] NULL,
	[JAX_SC] [money] NULL,
	[JAX_#OfOpp] [int] NULL,
	[LR_HC] [money] NULL,
	[LR_SC] [money] NULL,
	[LR_#OfOpp] [int] NULL,
	[LA_HC] [money] NULL,
	[LA_SC] [money] NULL,
	[LA_#OfOpp] [int] NULL,
	[LOU_HC] [money] NULL,
	[LOU_SC] [money] NULL,
	[LOU_#OfOpp] [int] NULL,
	[MIA_HC] [money] NULL,
	[MIA_SC] [money] NULL,
	[MIA_#OfOpp] [int] NULL,
	[MIL_HC] [money] NULL,
	[MIL_SC] [money] NULL,
	[MIL_#OfOpp] [int] NULL,
	[NH_HC] [money] NULL,
	[NH_SC] [money] NULL,
	[NH_#OfOpp] [int] NULL,
	[NO_HC] [money] NULL,
	[NO_SC] [money] NULL,
	[NO_#OfOpp] [int] NULL,
	[NYC_HC] [money] NULL,
	[NYC_SC] [money] NULL,
	[NYC_#OfOpp] [int] NULL,
	[ORL_HC] [money] NULL,
	[ORL_SC] [money] NULL,
	[ORL_#OfOpp] [int] NULL,
	[PHI_HC] [money] NULL,
	[PHI_SC] [money] NULL,
	[PHI_#OfOpp] [int] NULL,
	[RI_HC] [money] NULL,
	[RI_SC] [money] NULL,
	[RI_#OfOpp] [int] NULL,
	[SAC_HC] [money] NULL,
	[SAC_SC] [money] NULL,
	[SAC_#OfOpp] [int] NULL,
	[SA_HC] [money] NULL,
	[SA_SC] [money] NULL,
	[SA_#OfOpp] [int] NULL,
	[SJ_HC] [money] NULL,
	[SJ_SC] [money] NULL,
	[SJ_#OfOpp] [int] NULL,
	[SEA_HC] [money] NULL,
	[SEA_SC] [money] NULL,
	[SEA_#OfOpp] [int] NULL,
	[TUL_HC] [money] NULL,
	[TUL_SC] [money] NULL,
	[TUL_#OfOpp] [int] NULL,
	[WASH_HC] [money] NULL,
	[WASH_SC] [money] NULL,
	[WASH_#OfOpp] [int] NULL,
	[Boston_Indicator] [varchar](50) NULL,
	[BOS_HC_FY10] [money] NULL,
	[BOS_SC_FY10] [money] NULL,
	[BOS_HC_FY11] [money] NULL,
	[BOS_SC_FY11] [money] NULL,
	[BOS_HC_FY12] [money] NULL,
	[BOS_SC_FY12] [money] NULL,
	[BOS_HC_FY13] [money] NULL,
	[BOS_SC_FY13] [money] NULL,
	[Boston_Indicator_FY10_FY13] [varchar](50) NULL,
	[BOS_HC_FY05] [money] NULL,
	[BOS_SC_FY05] [money] NULL,
	[BOS_HC_FY06] [money] NULL,
	[BOS_SC_FY06] [money] NULL,
	[BOS_HC_FY07] [money] NULL,
	[BOS_SC_FY07] [money] NULL,
	[BOS_HC_FY08] [money] NULL,
	[BOS_SC_FY08] [money] NULL,
	[BOS_HC_FY09] [money] NULL,
	[BOS_SC_FY09] [money] NULL,
	[BOS_HC_FY15] [money] NULL,
	[BOS_SC_FY15] [money] NULL,
	[FY15_Total] [money] NULL
) ON [PRIMARY]

GO
