USE [ODW]
GO
/****** Object:  Table [dbo].[DimCampaignContact]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCampaignContact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[Account ID] [varchar](18) NULL,
	[Assistant's Name] [varchar](40) NULL,
	[Asst. Phone] [varchar](40) NULL,
	[Behavior Score] [decimal](18, 0) NULL,
	[Birthdate] [datetime] NULL,
	[CampaignEvent] [varchar](100) NULL,
	[Allow Customer Portal Self-Registration] [int] NULL,
	[City Year Alumni] [int] NULL,
	[City Year Worker Department] [varchar](80) NULL,
	[City Year Worker Email] [varchar](80) NULL,
	[City Year Worker ID] [varchar](11) NULL,
	[City Year Worker Location] [varchar](18) NULL,
	[City Year Worker Phone] [varchar](40) NULL,
	[City Year Worker Title] [varchar](80) NULL,
	[City Year Worker Type] [varchar](255) NULL,
	[Received Connection ID] [varchar](18) NULL,
	[Sent Connection ID] [varchar](18) NULL,
	[Created By ID] [varchar](18) NULL,
	[Created Date] [datetime] NULL,
	[CY Board Member] [int] NULL,
	[Demographic Score] [decimal](18, 0) NULL,
	[Department] [varchar](80) NULL,
	[Contact Description] [varchar](255) NULL,
	[Do Not Call] [int] NULL,
	[Email] [varchar](80) NULL,
	[Email Bounced Date] [datetime] NULL,
	[Email Bounced Reason] [varchar](255) NULL,
	[Business Fax] [varchar](40) NULL,
	[First Name] [varchar](40) NULL,
	[Email Opt Out] [int] NULL,
	[Fax Opt Out] [int] NULL,
	[Home Phone] [varchar](40) NULL,
	[Contact ID] [varchar](18) NULL,
	[Deleted] [int] NULL,
	[Last Activity] [datetime] NULL,
	[Last Stay-in-Touch Request Date] [datetime] NULL,
	[Last Stay-in-Touch Save Date] [datetime] NULL,
	[Last Modified By ID] [varchar](18) NULL,
	[Last Modified Date] [datetime] NULL,
	[Last Name] [varchar](80) NULL,
	[Lead Source] [varchar](40) NULL,
	[Mailing City] [varchar](40) NULL,
	[Mailing Country] [varchar](80) NULL,
	[Mailing Zip/Postal Code] [varchar](20) NULL,
	[Mailing State/Province] [varchar](80) NULL,
	[Mailing Street] [varchar](255) NULL,
	[Master Record ID] [varchar](18) NULL,
	[Acquisition Date] [datetime] NULL,
	[Acquisition Program] [varchar](255) NULL,
	[Acquisition Program Id] [decimal](18, 0) NULL,
	[Inferred City] [varchar](255) NULL,
	[Inferred Company] [varchar](255) NULL,
	[Inferred Country] [varchar](255) NULL,
	[Inferred Metropolitan Area] [varchar](255) NULL,
	[Inferred Phone Area Code] [varchar](255) NULL,
	[Inferred Postal Code] [varchar](255) NULL,
	[Inferred State Region] [varchar](255) NULL,
	[Lead Score] [decimal](18, 0) NULL,
	[Original Referrer] [varchar](255) NULL,
	[Original Search Engine] [varchar](255) NULL,
	[Original Search Phrase] [varchar](255) NULL,
	[Original Source Info] [varchar](2000) NULL,
	[Original Source Type] [varchar](255) NULL,
	[Mobile Phone] [varchar](40) NULL,
	[Full Name] [varchar](121) NULL,
	[Nickname] [varchar](100) NULL,
	[Other City] [varchar](40) NULL,
	[Other Country] [varchar](80) NULL,
	[Other Phone] [varchar](40) NULL,
	[Other Zip/Postal Code] [varchar](20) NULL,
	[Other State/Province] [varchar](80) NULL,
	[Other Street] [varchar](255) NULL,
	[Owner ID] [varchar](18) NULL,
	[Business Phone] [varchar](40) NULL,
	[Active?] [int] NULL,
	[Age] [decimal](18, 0) NULL,
	[Age Range] [varchar](255) NULL,
	[Archive?] [int] NULL,
	[Assistant Do Not Call] [int] NULL,
	[Assistant Email] [varchar](80) NULL,
	[Assistant Email Opt Out] [int] NULL,
	[Birth Day] [varchar](255) NULL,
	[Birth Month] [varchar](255) NULL,
	[Birth Year] [varchar](255) NULL,
	[Deceased?] [int] NULL,
	[Deceased Date] [datetime] NULL,
	[Deceased Day] [varchar](255) NULL,
	[Deceased Month] [varchar](255) NULL,
	[Deceased Year] [varchar](255) NULL,
	[Demographic Profile] [varchar](255) NULL,
	[Ethnicity] [varchar](255) NULL,
	[External Contact Number] [varchar](255) NULL,
	[Facebook URL] [varchar](255) NULL,
	[Gender] [varchar](255) NULL,
	[Google+ URL] [varchar](255) NULL,
	[Home Do Not Call] [int] NULL,
	[Home Email] [varchar](80) NULL,
	[Home Email Opt Out] [int] NULL,
	[LinkedIn URL] [varchar](255) NULL,
	[Maiden Name] [varchar](255) NULL,
	[Marital Status] [varchar](255) NULL,
	[Middle Name] [varchar](255) NULL,
	[Minor Child?] [int] NULL,
	[Mobile Do Not Call] [int] NULL,
	[Other Do Not Call] [int] NULL,
	[Other Email] [varchar](80) NULL,
	[Other Email Opt Out] [int] NULL,
	[Preferred Contact?] [int] NULL,
	[Preferred Email] [varchar](255) NULL,
	[Preferred Mailing Address] [varchar](18) NULL,
	[Preferred Other Address] [varchar](18) NULL,
	[Preferred Phone] [varchar](255) NULL,
	[Role] [varchar](255) NULL,
	[Rollup Addresses] [datetime] NULL,
	[Salutation] [varchar](255) NULL,
	[Secondary Contact?] [int] NULL,
	[Suffix] [varchar](255) NULL,
	[Twitter URL] [varchar](255) NULL,
	[Website URL] [varchar](255) NULL,
	[Work Do Not Call] [int] NULL,
	[Work Email] [varchar](80) NULL,
	[Work Email Opt Out] [int] NULL,
	[Work Phone] [varchar](40) NULL,
	[Current Year Soft Credit Amount] [decimal](18, 2) NULL,
	[Current Year Soft Credit Count] [decimal](18, 0) NULL,
	[First Soft Credit Amount] [decimal](18, 2) NULL,
	[First Soft Credit Date] [datetime] NULL,
	[Largest Soft Credit Amount] [decimal](18, 2) NULL,
	[Largest Soft Credit Date] [datetime] NULL,
	[Last Soft Credit Amount] [decimal](18, 2) NULL,
	[Last Soft Credit Date] [datetime] NULL,
	[Lifetime Soft Credit Amount] [decimal](18, 2) NULL,
	[Lifetime Soft Credit Count] [decimal](18, 0) NULL,
	[Primary Affiliation] [varchar](255) NULL,
	[Primary Giving Level] [varchar](255) NULL,
	[Primary Membership Expiration Date] [datetime] NULL,
	[Primary Membership Status] [varchar](255) NULL,
	[Prior Year Soft Credit Amount] [decimal](18, 2) NULL,
	[Prior Year Soft Credit Count] [decimal](18, 0) NULL,
	[Rollup Soft Credits] [datetime] NULL,
	[Rollup Soft Credits Status] [varchar](255) NULL,
	[Track Soft Credits?] [int] NULL,
	[Record Type ID] [varchar](18) NULL,
	[Recruitment Status] [varchar](255) NULL,
	[Reports To ID] [varchar](18) NULL,
	[Salutation2] [varchar](40) NULL,
	[Sort Key] [varchar](255) NULL,
	[Sync to Marketo?] [int] NULL,
	[System Modstamp] [datetime] NULL,
	[Title] [varchar](128) NULL,
	[Warning Comments] [varchar](255) NULL,
	[Preferred Phone Value] [varchar](250) NULL,
	[Preferred Email Value] [varchar](250) NULL,
	[Account Name] [varchar](250) NULL,
	[AccountID] [int] NULL,
	[Preferred Mailing Address Value] [varchar](250) NULL,
	[Street] [varchar](250) NULL,
	[City] [varchar](250) NULL,
	[State] [varchar](250) NULL,
	[Zip] [varchar](250) NULL,
	[Account Type] [varchar](250) NULL,
	[Do Not Mail] [varchar](250) NULL,
	[Account#] [varchar](250) NULL,
	[Salutation Line 1] [varchar](250) NULL,
 CONSTRAINT [PK_DimCampaignContact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]
) ON [INDEXES]

GO
