USE [ODW]
GO
/****** Object:  Table [dbo].[zCredits]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zCredits](
	[Amount_Given] [decimal](18, 2) NULL,
	[Fiscal_Year] [varchar](255) NULL,
	[Account ID] [varchar](18) NULL,
	[Account Name no Household] [varchar](255) NULL,
	[Campaign: Primary Campaign] [varchar](1300) NULL,
	[Check Date] [datetime] NULL,
	[Close Date] [datetime] NULL,
	[CY Allocation Location String] [varchar](1300) NULL,
	[Fiscal Year] [int] NULL,
	[Fiscal Quarter] [int] NULL,
	[Opportunity_Description] [varchar](120) NULL,
	[Opportunity ID] [varchar](18) NULL,
	[Parent Campaign: Revenue Strategy] [varchar](1300) NULL,
	[Parent Campaign: Source] [varchar](1300) NULL,
	[Parent Opportunity: Allocation Location] [varchar](1300) NULL,
	[Payment Method] [varchar](255) NULL,
	[RE Date and Ext ID] [varchar](1300) NULL,
	[Stage] [varchar](40) NULL,
	[Type] [varchar](40) NULL,
	[Account Aquire Date] [datetime] NULL,
	[Billing City] [varchar](40) NULL,
	[Billing Country] [varchar](80) NULL,
	[Billing State/Province] [varchar](80) NULL,
	[Billing Street] [varchar](255) NULL,
	[Billing Zip/Postal Code] [varchar](20) NULL,
	[Industry] [varchar](40) NULL,
	[Partnership Level] [varchar](255) NULL,
	[Account Type] [varchar](40) NULL,
	[Subtype] [varchar](255) NULL,
	[Customer Category WD Code] [varchar](250) NULL,
	[Shipping City] [varchar](40) NULL,
	[Shipping Country] [varchar](80) NULL,
	[Shipping State/Province] [varchar](80) NULL,
	[Shipping Street] [varchar](255) NULL,
	[Shipping Zip/Postal Code] [varchar](20) NULL,
	[Date Of Last Gift] [datetime] NULL,
	[Date of First Gift] [datetime] NULL,
	[Amount Of First Gift] [money] NULL,
	[Amount of Last Gift] [money] NULL,
	[Total Value Opportunities] [decimal](18, 0) NOT NULL,
	[Total Value Won Opportunities] [decimal](18, 0) NOT NULL,
	[Campaign_Description] [varchar](255) NULL,
	[Campaign_Fiscal_Year] [varchar](255) NULL,
	[Total Won Opportunities in Hierarchy] [int] NULL,
	[Location] [varchar](255) NULL,
	[Name] [varchar](80) NOT NULL,
	[Num Sent] [decimal](18, 0) NULL,
	[Total Responses] [int] NOT NULL,
	[Num Won Opportunities] [int] NOT NULL,
	[Available Waitlisted Count] [decimal](18, 0) NULL,
	[Event Type] [varchar](255) NULL,
	[Event Sub-Type] [varchar](255) NULL,
	[Event Start Date/Time] [datetime] NULL,
	[Event End Date/Time] [datetime] NULL,
	[Net Revenue] [decimal](18, 2) NULL,
	[Expected Revenue] [decimal](18, 0) NULL,
	[Average Gift] [decimal](18, 2) NULL,
	[Closed Amount] [decimal](18, 2) NULL,
	[Expected Giving Amount] [decimal](18, 2) NULL,
	[Omitted Amount] [decimal](18, 2) NULL,
	[Pipeline Amount] [decimal](18, 2) NULL,
	[Remaining Goal] [decimal](18, 2) NULL,
	[Actual Response (%)] [decimal](18, 2) NULL,
	[Revenue Category] [varchar](255) NULL,
	[Detail_Amount] [decimal](18, 2) NULL,
	[Detail_Business_Unit] [varchar](255) NULL,
	[Detail_Fiscal_Year] [varchar](255) NULL,
	[Detail_Probability] [decimal](18, 2) NULL,
	[Detail_Proposal_Amount] [decimal](18, 2) NULL,
	[Detail_Close_Date] [datetime] NULL,
	[Detail_Current_Giving_Amount] [decimal](18, 2) NULL,
	[Detail_Stage] [varchar](255) NULL
) ON [PRIMARY]

GO
