USE [ODW]
GO
/****** Object:  View [dbo].[S_PREFERENCE_ACCOUNT]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[S_PREFERENCE_ACCOUNT]          
AS 
SELECT ISNULL(P.RC_BIOS__ACCOUNT__C, C.ACCOUNTID) AS ACCOUNTID, P.* 
  FROM RC_BIOS__PREFERENCE__C P 
  LEFT JOIN CONTACT C ON P.RC_BIOS__CONTACT__C = C.ID;

GO
