USE [ODW]
GO
/****** Object:  Table [dbo].[DimCreditAccount]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCreditAccount](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Account Name no Household] [varchar](255) NULL,
	[Account Number] [varchar](40) NULL,
	[Annual Revenue] [decimal](18, 0) NULL,
	[Account#] [varchar](30) NULL,
	[Billing City] [varchar](40) NULL,
	[Billing Country] [varchar](80) NULL,
	[Billing Zip/Postal Code] [varchar](20) NULL,
	[Billing State/Province] [varchar](80) NULL,
	[Billing Street] [varchar](255) NULL,
	[Capacity Rating] [varchar](255) NULL,
	[Capacity Rating Last Reviewed] [datetime] NULL,
	[Charter School] [int] NULL,
	[City Year Location ID] [varchar](10) NULL,
	[City Year Moment] [varchar](255) NULL,
	[City Year Service Location] [varchar](18) NULL,
	[Received Connection ID] [varchar](18) NULL,
	[Sent Connection ID] [varchar](18) NULL,
	[Created By ID] [varchar](18) NULL,
	[Created Date] [datetime] NULL,
	[Current Partner] [varchar](255) NULL,
	[Current Partner District] [int] NULL,
	[Current School Partnerships] [decimal](18, 0) NULL,
	[CY Board] [int] NULL,
	[Account Description] [varchar](4000) NULL,
	[Donor Retention] [varchar](255) NULL,
	[Equal Distribution of Feeders] [decimal](18, 0) NULL,
	[Account Fax] [varchar](40) NULL,
	[Highest Grade] [decimal](2, 0) NULL,
	[Account ID] [varchar](18) NULL,
	[In Scale Plan] [int] NULL,
	[Inclination Rating] [varchar](255) NULL,
	[Inclination Rating Last Reviewed] [datetime] NULL,
	[Industry] [varchar](40) NULL,
	[Information System Notes] [varchar](255) NULL,
	[Is Parent Account?] [int] NULL,
	[Customer Portal Account] [int] NULL,
	[Deleted] [int] NULL,
	[Last Activity] [datetime] NULL,
	[Last Modified By ID] [varchar](18) NULL,
	[Last Modified Date] [datetime] NULL,
	[Link to Account] [varchar](255) NULL,
	[Lowest Grade] [varchar](2) NULL,
	[Low Grade (Formula_not_displayed)] [decimal](18, 0) NULL,
	[Magnet School] [int] NULL,
	[Major Donor Status] [varchar](255) NULL,
	[Master Record ID] [varchar](18) NULL,
	[Account Name] [varchar](255) NULL,
	[National Leadership Sponsor?] [varchar](255) NULL,
	[Number of Accounts] [decimal](18, 0) NULL,
	[Number of Feeder Schools] [decimal](18, 0) NULL,
	[Number of Grades] [decimal](18, 0) NULL,
	[Employees] [int] NULL,
	[Owner ID] [varchar](18) NULL,
	[Ownership] [varchar](40) NULL,
	[Parent Account ID] [varchar](18) NULL,
	[Partnership Level] [varchar](255) NULL,
	[Account Phone] [varchar](40) NULL,
	[Preferred Contact First Name] [varchar](255) NULL,
	[Raiser's Edge ID] [varchar](21) NULL,
	[Account Rating] [varchar](40) NULL,
	[About Us] [varchar](255) NULL,
	[Acquired Date] [datetime] NULL,
	[Acquired Source] [varchar](255) NULL,
	[Active] [int] NULL,
	[Agency] [varchar](18) NULL,
	[Archive?] [int] NULL,
	[Category] [varchar](255) NULL,
	[@Deprecated(Version=2.10)] [varchar](255) NULL,
	[Funding Area] [varchar](255) NULL,
	[Preferred Billing Address] [varchar](18) NULL,
	[Preferred Contact] [varchar](18) NULL,
	[Preferred Contact Demographic Profile] [varchar](255) NULL,
	[Preferred Contact Email] [varchar](255) NULL,
	[Preferred Contact Phone] [varchar](255) NULL,
	[Preferred Shipping Address] [varchar](18) NULL,
	[Recover?] [int] NULL,
	[Rollup Addresses] [datetime] NULL,
	[Salutation] [varchar](255) NULL,
	[Warning Comments] [varchar](255) NULL,
	[Current Calendar Year Hard Credit Amount] [decimal](18, 2) NULL,
	[Current Calendar Year Hard Credit Count] [decimal](18, 0) NULL,
	[Current Year Hard Credit Amount] [decimal](18, 2) NULL,
	[Current Year Hard Credit Count] [decimal](18, 0) NULL,
	[Current Year Major Giver?] [int] NULL,
	[Current Year Sustaining Giver?] [int] NULL,
	[Current Year Soft Credit Amount] [decimal](18, 2) NULL,
	[Current Year Soft Credit Count] [decimal](18, 0) NULL,
	[Deduct Items?] [int] NULL,
	[Distribution Frequency] [varchar](255) NULL,
	[First Hard Credit Amount] [decimal](18, 2) NULL,
	[First Hard Credit Date] [datetime] NULL,
	[First Soft Credit Amount] [decimal](18, 2) NULL,
	[First Soft Credit Date] [datetime] NULL,
	[Installments Allowed?] [int] NULL,
	[Sustaining Giver?] [int] NULL,
	[Items Allowed?] [int] NULL,
	[Largest Hard Credit Amount] [decimal](18, 2) NULL,
	[Largest Hard Credit Date] [datetime] NULL,
	[Largest Soft Credit Amount] [decimal](18, 2) NULL,
	[Largest Soft Credit Date] [datetime] NULL,
	[Last Hard Credit Amount] [decimal](18, 2) NULL,
	[Last Hard Credit Date] [datetime] NULL,
	[Last Soft Credit Amount] [decimal](18, 2) NULL,
	[Last Soft Credit Date] [datetime] NULL,
	[Lifetime Hard Credit Amount] [decimal](18, 2) NULL,
	[Lifetime Hard Credit Count] [decimal](18, 0) NULL,
	[Lifetime Major Giver?] [int] NULL,
	[Lifetime Sustaining Giver?] [int] NULL,
	[Lifetime Soft Credit Amount] [decimal](18, 2) NULL,
	[Lifetime Soft Credit Count] [decimal](18, 0) NULL,
	[Match Ratio] [decimal](18, 2) NULL,
	[Maximum Contribution] [decimal](18, 2) NULL,
	[Maximum Matched] [decimal](18, 2) NULL,
	[Minimum Matched] [decimal](18, 2) NULL,
	[Pending Payment?] [int] NULL,
	[Pending Payment Details] [varchar](255) NULL,
	[Primary Affiliation] [varchar](255) NULL,
	[Primary Giving Level] [varchar](18) NULL,
	[Primary Membership Expiration Date] [datetime] NULL,
	[Primary Membership Status] [varchar](255) NULL,
	[Prior Calendar Year Hard Credit Amount] [decimal](18, 2) NULL,
	[Prior Calendar Year Hard Credit Count] [decimal](18, 0) NULL,
	[Prior Year Hard Credit Amount] [decimal](18, 2) NULL,
	[Prior Year Hard Credit Count] [decimal](18, 0) NULL,
	[Prior Year Major Giver?] [int] NULL,
	[Prior Year Sustaining Giver?] [int] NULL,
	[Prior Year Soft Credit Amount] [decimal](18, 2) NULL,
	[Prior Year Soft Credit Count] [decimal](18, 0) NULL,
	[Recalculate Giving?] [int] NULL,
	[Rollup Affiliations] [datetime] NULL,
	[Rollup Affiliations Status] [varchar](255) NULL,
	[Rollup Hard Credits] [datetime] NULL,
	[Rollup Hard Credits Status] [varchar](255) NULL,
	[Rollup Soft Credits] [datetime] NULL,
	[Rollup Soft Credits Status] [varchar](255) NULL,
	[Rollup Summaries] [datetime] NULL,
	[Rollup Summaries Status] [varchar](255) NULL,
	[Track Affiliations?] [int] NULL,
	[Track Hard Credits?] [int] NULL,
	[Track Soft Credits?] [int] NULL,
	[Track Summaries?] [int] NULL,
	[Update Gift Membership Summaries] [datetime] NULL,
	[Update Lifetime Summaries] [datetime] NULL,
	[Update Summaries] [datetime] NULL,
	[Record Merge Notes] [varchar](255) NULL,
	[Record Type ID] [varchar](18) NULL,
	[Shipping City] [varchar](40) NULL,
	[Shipping Country] [varchar](80) NULL,
	[Shipping Zip/Postal Code] [varchar](20) NULL,
	[Shipping State/Province] [varchar](80) NULL,
	[Shipping Street] [varchar](255) NULL,
	[SIC Code] [varchar](20) NULL,
	[Account Site] [varchar](80) NULL,
	[Sort Key] [varchar](100) NULL,
	[Subtype] [varchar](255) NULL,
	[Sum of Gifts] [decimal](18, 2) NULL,
	[System Modstamp] [datetime] NULL,
	[Tax Receipt Recipient] [varchar](255) NULL,
	[Ticker Symbol] [varchar](20) NULL,
	[Total Past Partnerships] [decimal](18, 0) NULL,
	[Account Type] [varchar](40) NULL,
	[Wealth Rating] [varchar](255) NULL,
	[Wealth Rating Last Reviewed] [datetime] NULL,
	[Website] [varchar](255) NULL,
 CONSTRAINT [PK_DimCreditAccount] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
