USE [ODW]
GO
/****** Object:  StoredProcedure [dbo].[sp_refresh_DW_4_Create_Indexes]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_refresh_DW_4_Create_Indexes]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	CREATE CLUSTERED INDEX [AccountID] ON [dbo].[DimAccount]
	(
		[AccountID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [ID] ON [dbo].[DimAccount]
	(
		[Account ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [Account] ON [dbo].[DimBiosAccountPreferences]
	(
		[Account] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [Account] ON [dbo].[DimBiosAccountSalutation]
	(
		[Account] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE CLUSTERED INDEX [BiosAddressID] ON [dbo].[DimBiosAddress]
	(
		[BiosAddressID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [RecordID] ON [dbo].[DimBiosAddress]
	(
		[Record ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE CLUSTERED INDEX [BiosSalutationID] ON [dbo].[DimBiosContactSalutation]
	(
		[BiosSalutationID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [RecordID] ON [dbo].[DimBiosContactSalutation]
	(
		[Record ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE CLUSTERED INDEX [CampaignID] ON [dbo].[DimCampaign]
	(
		[CampaignID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [CampaignIDNC] ON [dbo].[DimCampaign]
	(
		[Campaign ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [CampaignID] ON [dbo].[DimCampaignMember]
	(
		[Campaign ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [ContactID] ON [dbo].[DimCampaignMember]
	(
		[Contact ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [ContactID] ON [dbo].[DimCampaignContact]
	(
		[Contact ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE CLUSTERED INDEX [ContactID] ON [dbo].[DimContact]
	(
		[ContactID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [AccountID] ON [dbo].[DimContact]
	(
		[Account ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [ContactID2] ON [dbo].[DimContact]
	(
		[Contact ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [PreferredMailingAddress] ON [dbo].[DimContact]
	(
		[Preferred Mailing Address] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [Contact] ON [dbo].[DimBiosContactPreferences]
	(
		[Contact] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [Contact] ON [dbo].[DimBiosContactSalutation]
	(
		[Contact] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE CLUSTERED INDEX [HardCreditID] ON [dbo].[DimHardCredit_Allocation]
	(
		[HardCreditID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [OpportunityID] ON [dbo].[DimHardCredit_Allocation]
	(
		[Opportunity] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE CLUSTERED INDEX [RelationshipID] ON [dbo].[DimRelationship]
	(
		[Role 1] ASC,
		[Role 2] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE CLUSTERED INDEX [SoftCreditID] ON [dbo].[DimSoftCredit]
	(
		[SoftCreditID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [Account] ON [dbo].[DimSoftCredit]
	(
		[Account] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [Account] ON [dbo].[DimCreditAccount]
	(
		[Account ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [OppID] ON [dbo].[FactDonor]
	(
		[OpportunityID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [OppAccountID] ON [dbo].[FactDonor]
	(
		[OppAccountID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [OppCampaignID] ON [dbo].[FactDonor]
	(
		[OppCampaignID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [AllocationID] ON [dbo].[FactDonor]
	(
		[AllocationID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [AccountID] ON [dbo].[FactDonor]
	(
		[AccountID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [OppID] ON [dbo].[FactDonor_Full]
	(
		[OpportunityID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [OppAccountID] ON [dbo].[FactDonor_Full]
	(
		[OppAccountID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [OppCampaignID] ON [dbo].[FactDonor_Full]
	(
		[OppCampaignID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [AllocationID] ON [dbo].[FactDonor_Full]
	(
		[AllocationID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [AccountID] ON [dbo].[FactDonor_Full]
	(
		[AccountID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]


	CREATE NONCLUSTERED INDEX [ContactFrom] ON [dbo].[DimContactRelationship]
	(
		[Contact From] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [ContactTo] ON [dbo].[DimContactRelationship]
	(
		[Contact To] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [AccountFrom] ON [dbo].[DimAccountRelationship]
	(
		[Account From] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE NONCLUSTERED INDEX [AccountTo] ON [dbo].[DimAccountRelationship]
	(
		[Account To] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE CLUSTERED INDEX [Account] ON [dbo].[DimBiosAccountAddress]
	(
		[Account] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE CLUSTERED INDEX [Contact] ON [dbo].[DimBiosContactAddress]
	(
		[Contact] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY05]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY06]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY07]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY08]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY09]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY10]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY11]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY12]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY13]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY14]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY15]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY16]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY17]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY18]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY19]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimRecentGivingFY20]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [Recent_History].[DimTotalGiving]([AccountID] ASC) ON [INDEXES]
	CREATE CLUSTERED INDEX [AccountID] ON [dbo].[DimAccountGivingHistory]([AccountID] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]

	alter index all on DimContactRelationship rebuild

END

GO
