USE [ODW]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NULL,
	[Calendar Year] [nvarchar](255) NULL,
	[Calendar YearMonth] [nvarchar](255) NULL,
	[Calendar YearMonth Num] [nvarchar](255) NULL,
	[Calendar Semester] [nvarchar](255) NULL,
	[Calendar Quarter] [nvarchar](255) NULL,
	[Calendar Month Number] [nvarchar](255) NULL,
	[Month Long Name] [nvarchar](255) NULL,
	[Month Short Name] [nvarchar](255) NULL,
	[Calendar Week Number] [float] NULL,
	[Calendar Week Name] [nvarchar](255) NULL,
	[Calendar 2-Week] [nvarchar](255) NULL,
	[Day Number of Year] [nvarchar](255) NULL,
	[Day Number of Month] [nvarchar](255) NULL,
	[Day Number of Week] [float] NULL,
	[Day Name Long] [nvarchar](255) NULL,
	[Day Name Short] [nvarchar](255) NULL,
	[Weekday Indicator] [nvarchar](255) NULL,
	[Holiday Indicator] [nvarchar](255) NULL,
	[Workdays In Month] [float] NULL,
	[Selling Season] [nvarchar](255) NULL,
	[Fiscal Year Start] [datetime] NULL,
	[Fiscal Year] [nvarchar](255) NULL,
	[Fiscal YearMonth] [nvarchar](255) NULL,
	[Fiscal Semester] [nvarchar](255) NULL,
	[Fiscal Quarter] [nvarchar](255) NULL,
	[Fiscal Month] [nvarchar](255) NULL,
	[Fiscal Week Number] [float] NULL,
	[Fiscal Week Name] [nvarchar](255) NULL,
	[Fiscal Day Number of Year] [float] NULL,
	[Fiscal Day Name of Year] [nvarchar](255) NULL,
	[ISO Year] [nvarchar](255) NULL,
	[ISO Semester] [nvarchar](255) NULL,
	[ISO Quarter] [nvarchar](255) NULL,
	[ISO Week Number] [float] NULL,
	[ISO Week Name] [nvarchar](255) NULL,
	[ISO Day Number of Year] [float] NULL,
	[ISO Day Number of Week] [float] NULL,
	[Reporting Year Start Unadjusted] [datetime] NULL,
	[Reporting Year Start] [datetime] NULL,
	[Reporting Year] [nvarchar](255) NULL,
	[Reporting Semester] [nvarchar](255) NULL,
	[Reporting Quarter Number] [float] NULL,
	[Reporting Quarter] [nvarchar](255) NULL,
	[Reporting Week Number] [float] NULL,
	[Reporting Week Name] [nvarchar](255) NULL,
	[Reporting Period] [nvarchar](255) NULL,
	[Manufacturing Year Start Unadjusted] [datetime] NULL,
	[Manufacturing Year Start] [datetime] NULL,
	[Manufacturing Year] [nvarchar](255) NULL,
	[Manufacturing Semester] [nvarchar](255) NULL,
	[Manufacturing Quarter Number] [float] NULL,
	[Manufacturing Quarter Name] [nvarchar](255) NULL,
	[Manufacturing Week Number] [float] NULL,
	[Manufacturing Week Name] [nvarchar](255) NULL,
	[Manufacturing Period Number] [float] NULL,
	[Manufacturing Period Name] [nvarchar](255) NULL
) ON [PRIMARY]

GO
