USE [ODW]
GO
/****** Object:  Table [dbo].[DimCampaignMember]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCampaignMember](
	[CampaignMemberID] [int] IDENTITY(1,1) NOT NULL,
	[Attended] [varchar](255) NULL,
	[Campaign ID] [varchar](18) NULL,
	[Contact ID] [varchar](18) NULL,
	[Created By ID] [varchar](18) NULL,
	[Created Date] [datetime] NULL,
	[First Responded Date] [datetime] NULL,
	[Guest Of] [varchar](18) NULL,
	[# Guests] [decimal](18, 0) NULL,
	[Responded] [int] NULL,
	[Campaign Member ID] [varchar](18) NULL,
	[Invited by] [varchar](255) NULL,
	[Deleted] [int] NULL,
	[Last Modified By ID] [varchar](18) NULL,
	[Last Modified Date] [datetime] NULL,
	[Lead ID] [varchar](18) NULL,
	[Has Volunteered?] [int] NULL,
	[# Hours Voluntereed] [decimal](18, 2) NULL,
	[Attendance Date] [datetime] NULL,
	[Attendance Status] [varchar](255) NULL,
	[Billing City] [varchar](255) NULL,
	[Billing Country] [varchar](255) NULL,
	[Billing Postal Code] [varchar](255) NULL,
	[Billing State/Province] [varchar](255) NULL,
	[Billing Street] [varchar](255) NULL,
	[Billing Street Line 1] [varchar](255) NULL,
	[Billing Street Line 2] [varchar](255) NULL,
	[Campaign Group 1] [varchar](18) NULL,
	[Campaign Group 2] [varchar](18) NULL,
	[Campaign Group 3] [varchar](18) NULL,
	[Card Expiration Month] [varchar](255) NULL,
	[Card Expiration Year] [varchar](255) NULL,
	[Card Holder Name] [varchar](255) NULL,
	[Card Number] [varchar](18) NULL,
	[Card Security Code] [varchar](4) NULL,
	[Contact Address Type] [varchar](255) NULL,
	[Email] [varchar](80) NULL,
	[First Name] [varchar](80) NULL,
	[Guest Of2] [varchar](255) NULL,
	[Selected?] [int] NULL,
	[Item 1: Item ID] [varchar](18) NULL,
	[Item 1: Purchase Price] [decimal](18, 2) NULL,
	[Item 1: Purchase Quantity] [decimal](18, 0) NULL,
	[Item 2: Item ID] [varchar](18) NULL,
	[Item 2: Purchase Price] [decimal](18, 2) NULL,
	[Item 2: Purchase Quantity] [decimal](18, 0) NULL,
	[Item 3: Item ID] [varchar](18) NULL,
	[Item 3: Purchase Price] [decimal](18, 2) NULL,
	[Item 3: Purchase Quantity] [decimal](18, 0) NULL,
	[Item 4: Item ID] [varchar](18) NULL,
	[Item 4: Purchase Price] [decimal](18, 2) NULL,
	[Item 4: Purchase Quantity] [decimal](18, 0) NULL,
	[Item 5: Item ID] [varchar](18) NULL,
	[Item 5: Purchase Price] [decimal](18, 2) NULL,
	[Item 5: Purchase Quantity] [decimal](18, 0) NULL,
	[Item ID Quantity Zero] [varchar](255) NULL,
	[Last Name] [varchar](80) NULL,
	[Meal 1: Meal ID] [varchar](18) NULL,
	[Meal 1: Purchase Price] [decimal](18, 2) NULL,
	[Meal 1: Purchase Quantity] [decimal](18, 0) NULL,
	[Meal 1: Status] [varchar](255) NULL,
	[Meal 2: Meal ID] [varchar](18) NULL,
	[Meal 2: Purchase Price] [decimal](18, 2) NULL,
	[Meal 2: Purchase Quantity] [decimal](18, 0) NULL,
	[Meal 2: Status] [varchar](255) NULL,
	[Meal 3: Meal ID] [varchar](18) NULL,
	[Meal 3: Purchase Price] [decimal](18, 2) NULL,
	[Meal 3: Purchase Quantity] [decimal](18, 0) NULL,
	[Meal 3: Status] [varchar](255) NULL,
	[Meal 4: Meal ID] [varchar](18) NULL,
	[Meal 4: Purchase Price] [decimal](18, 2) NULL,
	[Meal 4: Purchase Quantity] [decimal](18, 0) NULL,
	[Meal 4: Status] [varchar](255) NULL,
	[Meal 5: Meal ID] [varchar](18) NULL,
	[Meal 5: Purchase Price] [decimal](18, 2) NULL,
	[Meal 5: Purchase Quantity] [decimal](18, 0) NULL,
	[Meal 5: Status] [varchar](255) NULL,
	[Meal ID Quantity Zero] [varchar](255) NULL,
	[Member Email] [varchar](255) NULL,
	[Member Name] [varchar](255) NULL,
	[Member Phone] [varchar](255) NULL,
	[Member Role] [varchar](255) NULL,
	[Parent Campaign Member] [varchar](18) NULL,
	[Payment Method] [varchar](255) NULL,
	[Payment Processor] [varchar](255) NULL,
	[Payment Processor Foreign GUID] [varchar](64) NULL,
	[Payment Processor GUID] [varchar](64) NULL,
	[Payment Status] [varchar](255) NULL,
	[Payment Transaction Time] [varchar](128) NULL,
	[Phone] [varchar](40) NULL,
	[Registered Count] [decimal](18, 0) NULL,
	[Registered Date] [datetime] NULL,
	[Registered Meal] [varchar](18) NULL,
	[Registered Seat #] [decimal](18, 0) NULL,
	[Registered Status] [varchar](255) NULL,
	[Registered Table] [varchar](18) NULL,
	[Registered Table Name] [varchar](255) NULL,
	[Registered Venue] [varchar](18) NULL,
	[Registered Venue2] [varchar](255) NULL,
	[Registered Venue Seats] [varchar](255) NULL,
	[Salutation] [varchar](80) NULL,
	[Shipping City] [varchar](255) NULL,
	[Shipping Country] [varchar](255) NULL,
	[Shipping Postal Code] [varchar](255) NULL,
	[Shipping State/Province] [varchar](255) NULL,
	[Shipping Street] [varchar](255) NULL,
	[Shipping Street Line 1] [varchar](255) NULL,
	[Shipping Street Line 2] [varchar](255) NULL,
	[Ticket 1: Discount Code] [varchar](255) NULL,
	[Ticket 1: Purchase Price] [decimal](18, 2) NULL,
	[Ticket 1: Purchase Quantity] [decimal](18, 0) NULL,
	[Ticket 1: Status] [varchar](255) NULL,
	[Ticket 1: Ticket ID] [varchar](18) NULL,
	[Ticket 2: Discount Code] [varchar](255) NULL,
	[Ticket 2: Purchase Price] [decimal](18, 2) NULL,
	[Ticket 2: Purchase Quantity] [decimal](18, 0) NULL,
	[Ticket 2: Status] [varchar](255) NULL,
	[Ticket 2: Ticket ID] [varchar](18) NULL,
	[Ticket 3: Discount Code] [varchar](255) NULL,
	[Ticket 3: Purchase Price] [decimal](18, 2) NULL,
	[Ticket 3: Purchase Quantity] [decimal](18, 0) NULL,
	[Ticket 3: Status] [varchar](255) NULL,
	[Ticket 3: Ticket ID] [varchar](18) NULL,
	[Ticket 4: Discount Code] [varchar](255) NULL,
	[Ticket 4: Purchase Price] [decimal](18, 2) NULL,
	[Ticket 4: Purchase Quantity] [decimal](18, 0) NULL,
	[Ticket 4: Status] [varchar](255) NULL,
	[Ticket 4: Ticket ID] [varchar](18) NULL,
	[Ticket 5: Discount Code] [varchar](255) NULL,
	[Ticket 5: Purchase Price] [decimal](18, 2) NULL,
	[Ticket 5: Purchase Quantity] [decimal](18, 0) NULL,
	[Ticket 5: Status] [varchar](255) NULL,
	[Ticket 5: Ticket ID] [varchar](18) NULL,
	[Ticket ID Quantity Zero] [varchar](255) NULL,
	[Archive?] [int] NULL,
	[Send To Email Campaign] [int] NULL,
	[Record Type ID] [varchar](18) NULL,
	[Representative of] [varchar](18) NULL,
	[Seat Number] [varchar](255) NULL,
	[Seating Description] [varchar](255) NULL,
	[Status] [varchar](40) NULL,
	[System Modstamp] [datetime] NULL,
	[Table Name] [varchar](255) NULL,
	[Campaign Group 1 Name] [varchar](250) NULL,
	[Campaign Group 2 Name] [varchar](250) NULL,
	[Campaign Group 3 Name] [varchar](250) NULL,
	[Guest Of Name] [varchar](250) NULL,
	[Representative Of Name] [varchar](250) NULL,
	[Preferred Mailing Address Values] [varchar](250) NULL,
	[Account Name] [varchar](250) NULL,
	[Street] [varchar](250) NULL,
	[City] [varchar](250) NULL,
	[State] [varchar](250) NULL,
	[Zip] [varchar](250) NULL,
	[Ask 1 Amount] [decimal](18, 2) NULL,
	[Ask 2 Amount] [decimal](18, 2) NULL,
	[Ask 3 Amount] [decimal](18, 2) NULL,
	[Ask 4 Amount] [decimal](18, 2) NULL,
	[Ask 5 Amount] [decimal](18, 2) NULL,
	[Campaign Ask] [varchar](255) NULL,
	[Opportunity] [varchar](255) NULL,
	[Nickname] [varchar](255) NULL,
	[Gave at Event?] [int] NULL,
	[Event Gift Amount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_DimCampaignMember] PRIMARY KEY CLUSTERED 
(
	[CampaignMemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [INDEXES]
) ON [INDEXES]

GO
