USE [ODW]
GO
/****** Object:  Table [dbo].[GalaList]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GalaList](
	[Account ID] [varchar](250) NULL
) ON [PRIMARY]

GO
