USE [ODW]
GO
/****** Object:  View [dbo].[Relationship_Dupes]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Relationship_Dupes]
AS
SELECT     dbo.DimContactRelationship.ContactRelationshipID, dbo.DimContactRelationship.Category, dbo.DimContactRelationship.[Full Name From], 
                      dbo.DimContactRelationship.[Full Name To], dbo.DimContactRelationship.[Account Name no Household From], 
                      dbo.DimContactRelationship.[Account Name no Household To], DimContactRelationship_1.ContactRelationshipID AS CRID, 
                      DimContactRelationship_1.Category AS Category2, DimContactRelationship_1.[Full Name From] AS CFrom, DimContactRelationship_1.[Full Name To] AS CTo, 
                      DimContactRelationship_1.[Account Name no Household From] AS AFrom, DimContactRelationship_1.[Account Name no Household To] AS ATo
FROM         dbo.DimContactRelationship INNER JOIN
                      dbo.DimContactRelationship AS DimContactRelationship_1 ON dbo.DimContactRelationship.[Full Name From] = DimContactRelationship_1.[Full Name To] AND 
                      dbo.DimContactRelationship.[Full Name To] = DimContactRelationship_1.[Full Name From] AND 
                      dbo.DimContactRelationship.[Account Name no Household From] = DimContactRelationship_1.[Account Name no Household To] AND 
                      dbo.DimContactRelationship.[Account Name no Household To] = DimContactRelationship_1.[Account Name no Household From] AND 
                      dbo.DimContactRelationship.Category = DimContactRelationship_1.Category

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[21] 4[36] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DimContactRelationship"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 183
               Right = 282
            End
            DisplayFlags = 280
            TopColumn = 36
         End
         Begin Table = "DimContactRelationship_1"
            Begin Extent = 
               Top = 6
               Left = 320
               Bottom = 179
               Right = 564
            End
            DisplayFlags = 280
            TopColumn = 36
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2805
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Relationship_Dupes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Relationship_Dupes'
GO
