USE [ODW]
GO
/****** Object:  Table [dbo].[Site_Translation_Table]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site_Translation_Table](
	[General Accounting Unit Name] [varchar](255) NULL,
	[Acronym] [varchar](250) NULL
) ON [PRIMARY]

GO
