USE [ODW]
GO
/****** Object:  View [dbo].[S_PREFERENCE_CONTACT]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[S_PREFERENCE_CONTACT]          
AS 
SELECT ISNULL(P.RC_BIOS__CONTACT__C, DBO.CONTACT_PRIMARY_GUID(P.RC_BIOS__ACCOUNT__C)) AS CONTACTID, P.* 
  FROM RC_BIOS__PREFERENCE__C P;
GO
