USE [ODW]
GO
/****** Object:  Table [Recent_History].[DimRecentGivingFY09]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recent_History].[DimRecentGivingFY09](
	[AccountID] [int] NULL,
	[BR_HC_FY09] [money] NULL,
	[BR_SC_FY09] [money] NULL,
	[BOS_HC_FY09] [money] NULL,
	[BOS_SC_FY09] [money] NULL,
	[CF_HC_FY09] [money] NULL,
	[CF_SC_FY09] [money] NULL,
	[CHI_HC_FY09] [money] NULL,
	[CHI_SC_FY09] [money] NULL,
	[CLE_HC_FY09] [money] NULL,
	[CLE_SC_FY09] [money] NULL,
	[CIA_HC_FY09] [money] NULL,
	[CIA_SC_FY09] [money] NULL,
	[CUS_HC_FY09] [money] NULL,
	[CUS_SC_FY09] [money] NULL,
	[DEN_HC_FY09] [money] NULL,
	[DEN_SC_FY09] [money] NULL,
	[DET_HC_FY09] [money] NULL,
	[DET_SC_FY09] [money] NULL,
	[HQ_HC_FY09] [money] NULL,
	[HQ_SC_FY09] [money] NULL,
	[JAX_HC_FY09] [money] NULL,
	[JAX_SC_FY09] [money] NULL,
	[LR_HC_FY09] [money] NULL,
	[LR_SC_FY09] [money] NULL,
	[LA_HC_FY09] [money] NULL,
	[LA_SC_FY09] [money] NULL,
	[LOU_HC_FY09] [money] NULL,
	[LOU_SC_FY09] [money] NULL,
	[MIA_HC_FY09] [money] NULL,
	[MIA_SC_FY09] [money] NULL,
	[MIL_HC_FY09] [money] NULL,
	[MIL_SC_FY09] [money] NULL,
	[NH_HC_FY09] [money] NULL,
	[NH_SC_FY09] [money] NULL,
	[NO_HC_FY09] [money] NULL,
	[NO_SC_FY09] [money] NULL,
	[NYC_HC_FY09] [money] NULL,
	[NYC_SC_FY09] [money] NULL,
	[ORL_HC_FY09] [money] NULL,
	[ORL_SC_FY09] [money] NULL,
	[PHI_HC_FY09] [money] NULL,
	[PHI_SC_FY09] [money] NULL,
	[RI_HC_FY09] [money] NULL,
	[RI_SC_FY09] [money] NULL,
	[SAC_HC_FY09] [money] NULL,
	[SAC_SC_FY09] [money] NULL,
	[SA_HC_FY09] [money] NULL,
	[SA_SC_FY09] [money] NULL,
	[SJ_HC_FY09] [money] NULL,
	[SJ_SC_FY09] [money] NULL,
	[SEA_HC_FY09] [money] NULL,
	[SEA_SC_FY09] [money] NULL,
	[TUL_HC_FY09] [money] NULL,
	[TUL_SC_FY09] [money] NULL,
	[WASH_HC_FY09] [money] NULL,
	[WASH_SC_FY09] [money] NULL,
	[TOTAL_FY09] [money] NULL,
	[TOTAL_SOFT_FY09] [money] NULL,
	[TOTAL_HARD_FY09] [money] NULL
) ON [INDEXES]

GO
