USE [ODW]
GO
/****** Object:  Table [Recent_History].[DimTotalGiving]    Script Date: 12/1/2016 9:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recent_History].[DimTotalGiving](
	[AccountID] [int] NULL,
	[BR_HC_Total] [money] NULL,
	[BR_SC_Total] [money] NULL,
	[BOS_HC_Total] [money] NULL,
	[BOS_SC_Total] [money] NULL,
	[CF_HC_Total] [money] NULL,
	[CF_SC_Total] [money] NULL,
	[CHI_HC_Total] [money] NULL,
	[CHI_SC_Total] [money] NULL,
	[CLE_HC_Total] [money] NULL,
	[CLE_SC_Total] [money] NULL,
	[CIA_HC_Total] [money] NULL,
	[CIA_SC_Total] [money] NULL,
	[CUS_HC_Total] [money] NULL,
	[CUS_SC_Total] [money] NULL,
	[DEN_HC_Total] [money] NULL,
	[DEN_SC_Total] [money] NULL,
	[DET_HC_Total] [money] NULL,
	[DET_SC_Total] [money] NULL,
	[HQ_HC_Total] [money] NULL,
	[HQ_SC_Total] [money] NULL,
	[JAX_HC_Total] [money] NULL,
	[JAX_SC_Total] [money] NULL,
	[LR_HC_Total] [money] NULL,
	[LR_SC_Total] [money] NULL,
	[LA_HC_Total] [money] NULL,
	[LA_SC_Total] [money] NULL,
	[LOU_HC_Total] [money] NULL,
	[LOU_SC_Total] [money] NULL,
	[MIA_HC_Total] [money] NULL,
	[MIA_SC_Total] [money] NULL,
	[MIL_HC_Total] [money] NULL,
	[MIL_SC_Total] [money] NULL,
	[NH_HC_Total] [money] NULL,
	[NH_SC_Total] [money] NULL,
	[NO_HC_Total] [money] NULL,
	[NO_SC_Total] [money] NULL,
	[NYC_HC_Total] [money] NULL,
	[NYC_SC_Total] [money] NULL,
	[ORL_HC_Total] [money] NULL,
	[ORL_SC_Total] [money] NULL,
	[PHI_HC_Total] [money] NULL,
	[PHI_SC_Total] [money] NULL,
	[RI_HC_Total] [money] NULL,
	[RI_SC_Total] [money] NULL,
	[SAC_HC_Total] [money] NULL,
	[SAC_SC_Total] [money] NULL,
	[SA_HC_Total] [money] NULL,
	[SA_SC_Total] [money] NULL,
	[SJ_HC_Total] [money] NULL,
	[SJ_SC_Total] [money] NULL,
	[SEA_HC_Total] [money] NULL,
	[SEA_SC_Total] [money] NULL,
	[TUL_HC_Total] [money] NULL,
	[TUL_SC_Total] [money] NULL,
	[WASH_HC_Total] [money] NULL,
	[WASH_SC_Total] [money] NULL,
	[TOTAL] [money] NULL,
	[TOTAL_SOFT] [money] NULL,
	[TOTAL_HARD] [money] NULL,
	[DAL_HC_TOTAL] [money] NULL,
	[DAL_SC_TOTAL] [money] NULL
) ON [INDEXES]

GO
